In [1]:
import pandas as pd
import json

/tmp/ipykernel_16535/1177998677.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("data/AlpacaCodeFormat-v2.csv")
df.head()

,prompt,input,output
0,Generate a set of interview questions for a Sa...,Nama: Emily Tan\nAsal Institusi: SMA Negeri 1 ...,"[\n {""id"": ""q1"", ""question"": ""Bagaimana per..."
1,Generate a set of interview questions for a Ho...,Nama: Emily Wijaya\nAsal Institusi: SMA Negeri...,"[\n{""id"": ""q1"", ""question"": ""Bagaimana perjala..."
2,Generate a set of interview questions for a Bu...,Nama: Emily Chen\nAsal Institusi: SMA Negeri 1...,"[\n {""id"": ""q1"", ""question"": ""Bagaimana per..."
3,Generate a set of interview questions for a CR...,Nama: Alexandre Marc\nAsal Institusi: SMA Nege...,"[\n {""id"": ""q1"", ""question"": ""Selamat pagi,..."
4,Generate a set of interview questions for a IT...,Nama: Emily Tan\nAsal Institusi: SMA Negeri 3 ...,"[\n{""id"": ""q1"", ""question"": ""Bagaimana perjala..."

In [24]:
data = []
for i, row in df.iterrows():
    input = row["prompt"] + str(row["input"])
    output = row["output"]
    data.append({
        "contents": [
            {"role": "user", "parts": [{"text": input}]},
            {"role": "model", "parts": [{"text": output}]}
        ]
    })

In [20]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2, shuffle=True, random_state=42)
with open("data/train.jsonl", "w") as f:
    for d in train:
        f.write(json.dumps(d) + "\n")
with open("data/test.jsonl", "w") as f:
    for d in test:
        f.write(json.dumps(d) + "\n")

In [25]:
with open("data/full-gemini.jsonl", "w") as f:
    for d in data:
        f.write(json.dumps(d) + "\n")